Source: emacs-traditional
Section: editors
Priority: optional
Maintainer: Tong Sun <suntong001@users.sourceforge.net>
Build-Depends: autoconf,
               automake,
               autotools-dev,
               debhelper (>= 9),
               dpkg-dev (>> 1.10.0),
               libdbus-1-dev,
               libgconf2-dev,
               libgif-dev | libungif4-dev,
               libgnutls-dev | libgnutls28-dev,
               libgpm-dev [linux-any],
               libjansson-dev,
               liblockfile-dev,
               libm17n-dev,
               libncurses5-dev,
               libotf-dev,
               libpng-dev,
               librsvg2-dev,
               libselinux1-dev [linux-any],
               libxaw7-dev,
               libxml2-dev,
               sharutils,
               texinfo,
               libmotif-dev,
Homepage: http://www.gnu.org/software/emacs/
Standards-Version: 3.9.4


Package: emacs-traditional
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Provides: editor, emacsen, info-browser, mail-reader, news-reader
Description: GNU Emacs editor (with Motif user interface)
 GNU Emacs is the extensible self-documenting text editor.
 This package contains a version of Emacs with a Motif user interface.
