#!/usr/bin/make -f
# -*- makefile -*-

# This file is licensed under the terms of the Gnu Public License.
# Copyright 2013 Robert Bruce Park <r@robru.ca>

# Some inspiration taken from the Emacs' debian/rules file created by
# Mark Eichin, Ian Jackson, Jérôme Marant, and Rob Browning, however
# the code below was largely rewritten from scratch in 2013.

# common configure flags
confflags += --prefix=/usr
confflags += --sharedstatedir=/var/lib
confflags += --libexecdir=/usr/lib
confflags += --localstatedir=/var/lib
confflags += --infodir=/usr/share/info
confflags += --mandir=/usr/share/man
confflags += --with-pop=yes

# Binary package names (as defined in debian/control)
gtk_pkg_name = emacs-snapshot
nox_pkg_name = $(gtk_pkg_name)-nox

# Gtk config options
confflags_gtk += $(confflags)
confflags_gtk += --with-x=yes
confflags_gtk += --with-x-toolkit=gtk3

# Gtk dh options
auto_gtk += --package=$(gtk_pkg_name)
auto_gtk += --builddirectory=build/gtk

# NoX config options
confflags_nox += $(confflags)
confflags_nox += --with-x=no

# NoX dh options
auto_nox += --package=$(nox_pkg_name)
auto_nox += --builddirectory=build/nox

# Disable tests, because some fail.
override_dh_auto_test:

override_dh_auto_clean:
	dh_auto_clean $(auto_gtk)
	dh_auto_clean $(auto_nox)

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure $(auto_gtk) -- $(confflags_gtk)
	dh_auto_configure $(auto_nox) -- $(confflags_nox)

override_dh_auto_build:
	dh_auto_build $(auto_gtk)
	dh_auto_build $(auto_nox)

# By default dh_auto_install will dump both packages into debian/tmp,
# with the second one clobbering the first one, so we used --destdir to
# force installation into different places.
override_dh_auto_install:
	dh_auto_install $(auto_gtk) --destdir=debian/$(gtk_pkg_name)
	dh_auto_install $(auto_nox) --destdir=debian/$(nox_pkg_name)

override_dh_install:
#	Strip images from NoX.
	rm -vrf debian/$(nox_pkg_name)/usr/share/emacs/*/etc/images
#
#	Strip non-byte-compiled versions of byte-compiled files.
	find debian/ -name '*.elc'                             \
		| perl -pe 's/(.*)\.elc/\1.el\n\1.el.gz/g'     \
		| xargs rm -vf
#
#	Strip some unnecessary dirs
	rm -vrf debian/*/var/
	rm -vrf debian/*/usr/local

%:
	dh $@ --parallel
