#!/usr/bin/make -f
# -*- makefile -*-

# common configure flags
confflags += --prefix=/usr
confflags += --sharedstatedir=/var/lib
confflags += --libexecdir=/usr/lib
confflags += --localstatedir=/var/lib
confflags += --infodir=/usr/share/info
confflags += --mandir=/usr/share/man
confflags += --with-pop=yes

# Source directories (it was necessary to duplicate the source tree in
# order to avoid cross-contamination between builds)
gtk_src = $(CURDIR)
nox_src = $(CURDIR)-nox

# Binary package names (as defined in debian/control)
gtk_pkg = emacs-snapshot
nox_pkg = emacs-snapshot-nox

# Gtk config options
confflags_gtk += $(confflags)
confflags_gtk += --srcdir=$(gtk_src)
confflags_gtk += --with-x=yes
confflags_gtk += --with-x-toolkit=gtk3

# Gtk dh options
auto_gtk += --package=$(gtk_pkg)
auto_gtk += --sourcedirectory=$(gtk_src)
auto_gtk += --builddirectory=$(gtk_src)/build

# NoX config options
confflags_nox += $(confflags)
confflags_nox += --srcdir=$(nox_src)
confflags_nox += --with-x=no

# NoX dh options
auto_nox += --package=$(nox_pkg)
auto_nox += --sourcedirectory=$(nox_src)
auto_nox += --builddirectory=$(nox_src)/build

# Disable tests, because some fail.
override_dh_auto_test:

override_dh_auto_clean:
	dh_auto_clean $(auto_gtk)
	rm -rf $(nox_src)
	cp -r $(gtk_src) $(nox_src)
	dh_auto_clean $(auto_nox)

override_dh_auto_configure:
	cd $(gtk_src) && ./autogen.sh
	dh_auto_configure $(auto_gtk) -- $(confflags_gtk)
	cd $(nox_src) && ./autogen.sh
	dh_auto_configure $(auto_nox) -- $(confflags_nox)

override_dh_auto_build:
	dh_auto_build $(auto_gtk)
	dh_auto_build $(auto_nox)

# By default dh_auto_install will dump both packages into debian/tmp,
# with the second one clobbering the first one, so we used --destdir to
# force installation into different places.
override_dh_auto_install:
	dh_auto_install $(auto_gtk) --destdir=debian/$(gtk_pkg)
	dh_auto_install $(auto_nox) --destdir=debian/$(nox_pkg)

# Because --destdir above installs directly into the correct place,
# dh_install is not necessary. It would just try to copy files from debian/tmp,
# which does not exist.
override_dh_install:

%:
	dh $@ --parallel
